h1 {
  text-align: center;
  font-weight: 300;
  color: black;
  font-size: 100px;
  border: 1px;
}

h1:after {
  content: " ";
  display: block;
  border: 2px solid black;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: rgb(87, 87, 87);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul.vertical {
  margin: 0;
  padding: 10px;
  background-color: rgb(87, 87, 87);
  list-style-type: none;
  width: 15%;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: show;
  background-color: #333;
}

li {
  float: none;
}

li a {
  float: left;
}

li a,
li b,
.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  border-radius: 8px;
}

li a:hover,
li a.active,
li b:hover,
li b.active,
.dropdown:hover .dropbtn {
  background-color: white;
  color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  top: 80%;
  min-width: 160px;
}

.dropdown-content a {
  background-color: gray;
  color: white;
  border: 3px solid gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  float: none;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
}

button {
  background-color: gray;
  color: white;
  border: 3px solid gray;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: gray;
}
