<!DOCTYPE html>
<html lang='en'>
<title>Choose Dining</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
<ul class="horizontal">
    <li><a class="active"href="#home">Home</a></li>
    <li><a href="preferences">My Preferences</a></li>
    <li><a href="about">About</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
<h1>
    Choose Dining
</h1>

<div class="center">
<button id="chooseDining">Where should I eat?</button>
</div>


</html>