<!DOCTYPE html>
<html lang='en'>
<title>Choose Dining</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
<ul class="horizontal">
    <li><a class="active"href="/">Home</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfwH4ASr3Q28odyr7x9wVesCP_C_YJToGtfjndbA1_OjCAILw/viewform?usp=sf_link" target="_blank">Survey</a></li>
    <li class="dropdown"><a class="dropbtn">My Account</a>
    <div class="dropdown-content">
        <a href="logout">Logout</a>
    </div></li>
</ul>
<h1>
    Choose Dining
</h1>



<div class="center">
<button id="chooseDining" onclick="">Where should I eat?</button>
</div>




</html>