<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preferences</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />

<ul class="horizontal">
    <li><a href="/">Home</a></li>
    <li><a class="active"href="preferences">My Preferences</a></li>
    <li><a href="about">About</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
<h1>My Preferences</h1>
<ul class="vertical">
    <li><b>Allergens</b></li>
    <li><b>Dislikes</b></li>
    <li></li>
    <li></li>
</ul>
</html>